

VS_jdermelj_AntiTheft/.idea/misc.xml
VS_jdermelj_AntiTheft/.idea/workspace.xml
VS_jdermelj_AntiTheft/.idea/gradle.xml
VS_jdermelj_AntiTheft/.idea/inspectionProfiles/Project_Default.xml
VS_jdermelj_AntiTheft/.idea/inspectionProfiles/profiles_settings.xml

VS_jdermelj_Webservices/.idea/vcs.xml

VS_jdermelj_Sensors/.idea/misc_conflict-20151005-091642.xml
